<nav class="navbar navbar-expand-lg navbar-light py-2"
     style="background-image:linear-gradient(to right,#EE6D98,#8A5EBF);">

    <a class="navbar-brand"
       href="/"
       style="font-size:1.75rem;font-family:'Comic Sans MS','Comic Sans',cursive;color:white;">
        JIS
    </a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#judgeNavbar"
            aria-controls="judgeNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="judgeNavbar">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link" href="/about" style="color:white;">About</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                    href="javascript:void(0);"
                    id="judgeProfile"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="color:white; cursor:pointer;">
                        Profile
                </a>


                <ul class="dropdown-menu" aria-labelledby="judgeProfile">
                    <li>
                        <a class="dropdown-item" href="/changepassword">
                            Change Password
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="/signout">
                            Log Out
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
