<div class="modal fade" id="staticBackdrop1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="addJudgeLabel"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addJudgeLabel"
            style="font-family:'Comic Sans MS','Comic Sans',cursive;color:purple;">
            Add Judge
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <form action="/addjudge" method="POST">

          <div class="modal-footer"
               style="display:flex;flex-direction:column;">

            <input type="text" name="emailJudge"
                   placeholder="Email of Judge">

            <input type="text" name="userNameJudge"
                   placeholder="Username of Judge">

            <input type="password" name="passwordJudge"
                   placeholder="Password">

            <button type="submit"
                    class="btn"
                    style="background-image:linear-gradient(to right,#EE6D98,#8A5EBF);color:white;">
                Add Judge
            </button>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop2"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="addLawyerLabel"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addLawyerLabel"
            style="font-family:'Comic Sans MS','Comic Sans',cursive;color:purple;">
            Add Lawyer
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <form action="/addlawer" method="POST">

          <div class="modal-footer"
               style="display:flex;flex-direction:column;">

            <input type="text" name="emailLawyer"
                   placeholder="Email of Lawyer">

            <input type="text" name="userNameLawyer"
                   placeholder="Username of Lawyer">

            <input type="password" name="passwordLawyer"
                   placeholder="Password">

            <button type="submit"
                    class="btn"
                    style="background-image:linear-gradient(to right,#EE6D98,#8A5EBF);color:white;">
                Add Lawyer
            </button>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>

